@mixin hover {
  &:hover {
    opacity: 0.8;
  }
}

// крестик закрытия
@mixin close {
  width: 40px;
  height: 40px;
  cursor: pointer;

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 10px;
    width: 26px;
    height: 2px;
    background: #000000;

    @media (max-width: $mobile-width) {
      width: 18px;
      height: 2px;
    }
  }
}
