.calc {
  margin-top: 57px;
  position: relative;

  @media (max-width: $tablet-width) {
    margin-top: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 53px;
  }

  h2 {
    font-weight: bold;
    font-size: 41px;
    line-height: 57px;

    @media (max-width: $tablet-width) {
      font-size: 32px;
      line-height: 45px;
    }

    @media (max-width: $mobile-width) {
      font-size: 22px;
      line-height: 31px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 25px;
    }

    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
    }
  }
}

.calc__flex {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  /* Стилизация инпута */
  input:not([type="range"]) {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 15px 60px;
    text-align: center;

    border: 1px solid #1f1e25;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;

    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-top: 6px;
    }
  }
}


.calc__step {
  width: 51.3%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.calc__step-target {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    margin-top: 27px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 22px;
  }
}

.calc__step-parametrs {
  margin-top: 35px;

  @media (max-width: $mobile-width) {
    margin-top: 25px;
  }

  p {
    margin-top: 15px;
    line-height: 22px;

    @media (max-width: $mobile-width) {
      margin-top: 10px;
    }
  }
}

.calc__step-parametrs-wrap {
  // input {
  //   margin-top: 10px;

  @media (max-width: $tablet-width) {
    width: 100%;
    // margin-top: 7px;
  }

  & > span {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #707c87;
    margin-top: 8px;
  }
}

.calc__firstpay-wrap,
.calc__step-date-value {
  & > span {
    display: inline-block;
    margin-top: 6px;
    font-size: 14px;
  }
}

/* стилизация input[type=number] */
.calc__step-parametrs-input {
  position: relative;
}

.calc__step-parametrs-minus,
.calc__step-parametrs-plus {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: #ffffff;
  outline: none;
}

.calc__step-parametrs-minus {
  left: 2%;
  font-size: 42px;
  transform: translateY(-68%);
}

.calc__step-parametrs-plus {
  right: 2%;
  font-size: 32px;
  transform: translateY(-50%);
}

.calc__line {
  width: 600px;
  height: 14px;
  margin-top: 10px;
}

.calc__line-value {
  font-size: 14px;
  line-height: 20px;
  color: #707c87;
}

.calc__step-date {
  position: relative;
  margin-top: 20px;

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

.calc__step-date-value {
  display: flex;
  justify-content: space-between;
}

.calc__step-checkbox {
  display: flex;
  margin-top: 22px;

  @media (max-width: $tablet-width) {
    margin-top: 17px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 13px;
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    position: relative;
    padding: 0 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      height: 16px;
      width: 16px;
      border: 1px solid $blue;
      border-radius: 2px;
      background: transparent;
      top: 1px;
      left: 0;
    }

    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      height: 6px;
      width: 9px;

      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;

      transform: rotate(-45deg);
      left: 3px;
      top: 4px;
    }

    @media (max-width: $mobile-width) {
      padding: 0 24px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  /* Прячем галку по умолчанию */
  input[type="checkbox"] + label::after {
    content: none;
  }

  /* Показываем галку по состоянию checked */
  input[type="checkbox"]:checked + label::after {
    content: "";
  }

  input[type="checkbox"]:checked + label::before {
    background: $blue;
  }
}

/* Наше предложение  */
.calc__offer-success {
  width: 500px;
  height: 389px;
  padding: 54px 53px 58px 57px;
  margin-top: 58px;
  background: #f6f7ff;
  border-radius: 4px;

  @media (max-width: $tablet-width) {
    min-height: 389px;
    width: 100%;
    margin-top: 42px;
    padding: 50px 58px;
  }

  @media (max-width: $mobile-width) {
    height: 433px;
    margin-top: 30px;
    padding: 35px 15px;
  }

  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 25px;

    @media (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.calc__offer-wrap {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.calc__offer-failed {
  width: 500px;
  height: 225px;
  padding: 52px 58px;
  margin-top: 58px;
  background: #f6f7ff;
  border-radius: 4px;

  p {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    display: flex;
    color: #1f1e25;
  }

  span {
    display: block;
    margin-top: 25px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;

    p {
      padding-right: 50%;
    }

    span {
      padding-right: 55%;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 40px;
    padding-left: 15px;

    p {
      padding-right: 16%;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }

    span {
      padding-right: 0;
    }
  }
}

.calc__offer-item {
  width: 46%;
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  &:nth-of-type(2n) {
    margin-left: 25px;
    padding-left: 24px;
  }

  @media (max-width: $tablet-width) {
    width: 35%;

    &:nth-of-type(2n) {
      margin-left: 25px;
      padding-left: 7px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 14px;

    &:nth-of-type(2n) {
      margin-left: 0;
      padding-left: 0;
    }
  }

  p {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;

    @media (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  span {
    display: block;
    line-height: 22px;
  }
}

.calc__offer-btn {
  width: 100%;
  font-size: 16px;

  @media (max-width: $tablet-width) {
    letter-spacing: 0;
  }

  @media (max-width: $mobile-width) {
    height: 50px;
    margin-top: 15px;
    font-size: 14px;
  }
}

/* Шаг 3. Оформление заявки */
.calc__request {
  width: 770px;
  min-height: 722px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 60px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f7ff;
  border-radius: 4px;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 592px;
    margin-top: 51px;
    padding: 0;
    background: #ffffff;
  }

  @media (max-width: $mobile-width) {
    margin-top: 45px;
  }

  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 25px;
    }

    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.calc__request-wrap {
  width: 100%;
  margin-top: 10px;

  @media (max-width: $tablet-width) {
    margin-top: 23px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 13px;
  }
}

.calc__request-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px 0;
  border-bottom: 1px solid #c4c4c4;

  @media (max-width: $mobile-width) {
    flex-direction: column-reverse;
    padding: 16px 0;
  }

  span {
    display: block;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;

    @media (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.calc__request-form {
  width: 100%;
  margin-top: 30px;

  @media (max-width: $tablet-width) {
    width: 100%;
    background: #ffffff;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input {
      &:first-of-type {
        width: 100%;
      }

      width: 48%;
      margin-bottom: 30px;
      height: 60px;

      padding-left: 25px;

      border: 1px solid #1f1e25;
      box-sizing: border-box;
      border-radius: 4px;
      background: #ffffff;

      @media (max-width: $mobile-width) {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 15px;
      }
    }
  }

  .calc__request-btn {
    width: 200px;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 16px;

    @media (max-width: $tablet-width) {
      width: 100%;
      letter-spacing: 0;
    }

    @media (max-width: $mobile-width) {
      height: 50px;
      margin-top: 9px;
      font-size: 14px;
      letter-spacing: 0;
    }
  }
}

// Applying base CSS styles
input[type="range"] {
  // -webkit-appearance: none;
  appearance: none;
  margin-top: 22px;
  padding: 0;
  width: 100%;

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &:focus {
    outline: none;
  }
}

/* сообщение при overlay */
.calc__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 25;
  width: 500px;
  height: 193px;
  left: 50%;
  top: 35.7%;
  // -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  background: #f6f7ff;
  border-radius: 4px;

  @media (max-width: $tablet-width) {
    width: 678px;
    height: 193px;
  }

  @media (max-width: $mobile-width) {
    width: 86%;
    height: 198px;
    padding: 40px 25px;
  }

  p {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    color: #1f1e25;

    @media (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 25px;
      text-align: center;
    }
  }

  span {
    display: block;
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
}

// крестик закрытия
.calc__overlay-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;

  @include close();

  @media (max-width: $mobile-width) {
    top: 0;
    right: 0;
  }
}

.error {
  display: none;
  color: red;
}
