header {
  width: 100%;
  background-color: #f6f7ff;
}

.header__wrap {
  display: flex;
  align-items: center;
  height: 91px;
  padding-left: 4.5%;
  padding-right: 6.5%;
  outline: 1px solid goldenrod;

  @media (max-width: $tablet-width) {
    height: 69px;
    padding-left: 45px;
    padding-right: 35px;
  }

  @media (max-width: $mobile-width) {
    height: 48px;
    padding-left: 15px;
    padding-right: 5px;
  }
}

.header__hamburger {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.header__logo {
  width: 150px;

  @media (max-width: $tablet-width) {
    width: 140px;
    padding-top: 5px;
  }

  @media (max-width: $mobile-width) {
    flex-grow: 2;
    margin-left: 15px;
    padding-top: 0;
  }
}

.header__nav {
  /*
  logo - 150
  enter - 210
  margin - 60
  */
  width: calc(100% - 150px - 210px - 55px);
  margin-left: 55px;

  @media (max-width: $tablet-width) {
    width: calc(100% - 150px - 45px);
    margin-left: 70px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      line-height: 19px;
      padding-right: 26px;

      a {
        @include hover();
      }

      @media (max-width: $tablet-width) {
        font-size: 14px;
        line-height: 16px;
        padding-right: 20px;
      }
    }
  }
}

.header__enter {
  display: flex;
  align-items: center;
  width: 210px;
  cursor: pointer;

  @include hover();

  @media (max-width: $tablet-width) {
    width: 32px;
  }

  @media (max-width: $mobile-width) {
    width: 25px;
  }

  p {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  svg {
    width: 20px;
    height: 22px;
    margin-right: 10px;

    @media (max-width: $mobile-width) {
      width: 14px;
      height: 16px;
    }
  }
}
