.logo {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    align-items: flex-start;
  }

  h1 {
    font-family: "Work Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 21px;
    }

    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.logo__img {
  width: 28px;
  height: 25px;
  margin-right: 10px;

  @media (max-width: $tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (max-width: $mobile-width) {
    width: 18px;
    height: 17px;
    margin-top: 9px;
  }
}
